extends ../layouts/default.pug
include ../mixins/icon.pug
include ../mixins/button.pug
block content  
  .content     
    section.hero
      .container.hero__container
        .hero__info
          h1.hero__title Полет Илона Маска #[br]и&nbsp;DOGIE&nbsp;COIN
          p.hero__text В прошлый четверг все офигели от полета DOGIE&nbsp;COIN&nbsp;на марс.
          +button('a', 'ОСТАВИТЬ ЗАЯВКУ', 'hero__btn','#')
    section.posts
      .container.posts__container
        h2.posts__title Карточки
        .posts__items
        +button('button', 'ЗАГРУЗИТЬ ЕЩЕ', 'posts__btn')(id="load-more")


      