@use "normalize.css";
@use '../variables' as *;
@use '../mixins' as *;

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
h1,h2{
  font-size: 42px;
  color: $light;
  margin: 0;
  @include iPad{
    font-size: 38px;
  }
  @include xs{
    font-size: 20px;
  }
}
p{
  margin: 0;
}
html,body{
  height: 100%;
  background-color: $bodyColor;
  font-size: 14px;
  overflow-x: hidden;
  font-family: $primaryFont, sans-serif;
}

.wrapper{
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.content{
  flex: 1 0 auto;
}
.header {
  flex: 0 0 auto;
}
.container{
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;  
  @include lgx{
   padding: 0 20px;
  }
  @include iPad{
   padding: 0 40px;
  }
  @include tablet{
   padding: 0 15px;
  }
}

.btn-accent{
  @include skewBtn(263px, 60px);
}
.read-btn{
  color: $light;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: $secondaryFont;
  font-weight: 600;
  span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 113px;
  }
}